########"
#
# Configuration file for DMHiggsAnalysis/util/runSelection.cxx
#
########"


InputFile:	@input
SampleName:	@tag
OutputDir:	@outdir

dirName:	DMHiggsAnalysis
evStart: 	0
evEnd:		-1

isMC:		@isMC
######
CrossSection:   @xsec
NEvents:	@nevts
